@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
    user-select: none;
    -webkit-user-drag: none;
  }
  
  img {
    pointer-events: none;
}

@font-face {
  font-family: 'renfrew';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/renfrew.woff2) format('woff2');
  }
